<div class="level">
  <div class="level-left">
    <p class="title level-item">Race List</p>
  </div>
  <div class="level-right">
    <%= link_to 'New Race', new_race_path, class: "button is-link level-item" %>
  </div>
</div>

<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>Title</th>
      <th>Location</th>
      <th>Date</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @races.each do |race| %>
      <tr>
        <td><%= race.title %></td>
        <td><%= race.location %></td>
        <td><%= race.date %></td>
        <td><%= race.time.strftime("%I:%M %p") %></td>
        <td><%= link_to 'Show', race %></td>
        <td><%= link_to 'Edit', edit_race_path(race) %></td>
        <td><%= link_to 'Destroy', race, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
