<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @race.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @race.description %>
</p>

<p>
  <strong>Rules:</strong>
  <%= @race.rules %>
</p>

<p>
  <strong>Location:</strong>
  <%= @race.location %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @race.slug %>
</p>

<p>
  <strong>Date:</strong>
  <%= @race.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @race.time %>
</p>

<%= link_to 'Edit', edit_race_path(@race) %> |
<%= link_to 'Back', races_path %>
