<artical>
  <section class="hero is-light">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title"><%= @race.title %></h1>
      </div>
      <hr>
      <div class="container has-text-centered">
        <h2 class="subtitle"><%= I18n.localize @race.date, format: :full_date %> @ <%= I18n.localize @race.time, format: :simple_time %></h2>
        <address>
          <strong><%= @race.address.name %></strong>
          <br>
          <%= @race.address.formatted_address %>
        </address>
      </div>
      <br>
      <div class="container has-text-centered">
        <% if signed_in? %>
          <p class="subtitle">Race Entries</p>
          <%= render 'entries/table' %>
        <% else %>
          <%= link_to 'Register Your Car', new_race_registration_path(race_id: @race.id), class: 'button is-medium is-success' %>
        <% end %>
      </div>
    </div>
  </section>
</artical>
