<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <title>DerbyCheckin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google[:places_api_key] %>&libraries=places"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>
  <body>
    <%= render 'header' %>
    <section class="section">
      <div class="container">
        <% if notice %>
          <p id="notice" class="notification is-primary has-text-centered"><%= notice %></p>
        <% end %>
        <%= yield %>
      </div>
    </section>
  </body>
</html>
